/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Borde redondeado para las imágenes */
img {
  border-radius: 3%; /* Radio del borde redondeado */
}

/* Redimensionar imágenes */
img {
  max-width: 150px; /* Tamaño máximo de ancho */
  max-height: 150px; /* Tamaño máximo de alto */
}


/* Estilo para el botón de crear producto */
#crear-producto {
    background-color: #3e8e41; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 12px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondos */
    cursor: pointer; /* Cursor al pasar el ratón por encima */
    font-size: 16px; /* Tamaño de texto */
    margin-bottom: 10px; /* Espaciado debajo */
}

#crear-producto:hover {
    background-color: #8f6b07; /* Color de fondo al pasar el ratón por encima */
}

  /* Estilo para el menú superior */
  nav {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Estilo para las tablas */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f1f1f1;
  }


  
  /* Estilo para hacer la página responsive */
  @media (max-width: 600px) {
    table {
      width: 100%;
      display: block;
    }
    th, td {
      display: block;
      border: none;
      text-align: center;
    }
    th {
      background-color: #f1f1f1;
    }
  }