/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del formulario */
  form {
    width: 50%; /* Establecemos el ancho del formulario al 50% del ancho de la página */
    margin: 0 auto; /* Centramos el formulario horizontalmente */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  /* Estilos de los elementos del formulario */
  label {
    display: block; /* Hacemos que los labels ocupen todo el ancho disponible */
    margin-bottom: 10px; /* Dejamos un espacio entre el label y el elemento siguiente */
    font-weight: bold;
  }
  
  input[type="text"], textarea {
    width: 100%; /* Hacemos que los elementos de entrada ocupen todo el ancho disponible */
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Aseguramos que el padding no afecte al tamaño del elemento */
  }
  
  input[type="number"] {
    width: 100%; /* Hacemos que los elementos de entrada ocupen todo el ancho disponible */
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Aseguramos que el padding no afecte al tamaño del elemento */
  }
  
  select {
    width: 100%; /* Hacemos que los elementos de entrada ocupen todo el ancho disponible */
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Aseguramos que el padding no afecte al tamaño del elemento */
  }
  
  input[type="submit"] {
    width: 100%; /* Hacemos que el botón ocupe todo el ancho disponible */
    padding: 12px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button {
    width: 100%; /* Hacemos que el botón ocupe todo el ancho disponible */
    padding: 12px 20px;
    margin-top: 20px;
    background-color: #d88c1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  /* Estilos de los encabezados */
h1 {
    text-align: center; /* Centramos el texto del encabezado */
    margin-bottom: 30px; /* Dejamos un espacio entre el encabezado y el formulario */
  }

/* Estilo para el botón de crear producto */
.volver {
  background-color: #3e8e41; /* Color de fondo */
  color: white; /* Color de texto */
  padding: 12px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondos */
  cursor: pointer; /* Cursor al pasar el ratón por encima */
  font-size: 16px; /* Tamaño de texto */
  margin-bottom: 10px; /* Espaciado debajo */
  margin: 0 auto; /* Centra el elemento */
  margin-top: 20px; /* Espaciado arriba */
}


/* Estilo al presionar el botón */
button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  /* Estilos para el formulario */
  form {
    width: 90%; /* reducimos el ancho del formulario */
    margin: 0 auto; /* centrado */
  }

  form label,
  form input,
  form select,
  form textarea {
    width: 100%; /* hacemos que los elementos del formulario ocupen todo el ancho */
    margin: 10px 0; /* espacio entre los elementos */
  }

  form button {
    width: 50%; /* reducimos el ancho del botón */
    margin: 20px auto; /* centrado */
  }
}