# Impedir que se pueda ver el listado de contenidos de un directorio

Options All -Indexes

# Url Amigables
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php